*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	min-height: 100vh;
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	hyphens: auto;
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

hr {
	height: 0;
	overflow: visible;
	color: inherit;
	border-style: solid;
	border-width: 1px 0 0;
}
